.partone {
    display: flex;
    background-color: #1F2937;
    height: 500px;
    
    padding: 20px;
}
.introphoto {
    height: 300px;
    width: 300px;
}

.links-container {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;


}