.partone {
    display: block;
    background-color: #1F2937;
    max-height: 450px;
    padding: 20px;
}

.topone {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}


.links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

a {
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

p {
    font-size: 18px;
    color: #E5E7EB;

}

.botone {  
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
   
}

.botone,
.maintitle,
.firstquote {
    padding: 5px;

}

p.firstquote {
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 300px;
}


.maintitle{
    max-height: 70px;
    font-size: 48px;
    font-weight: bold;
    color: #F9F8F8;
}
    

.logo {
    color: #F9F8F8;
    font-size: 24px;
}

.photocontainer {
    padding-top: 10px;
    
}

.introphoto {
    height: 300px;
    width: 300px;
}

